@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Playfair+Display&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    --primary: #8c99b4;
    --primary-light: #d4d3d6;
    --primary-dark: #60697a;
    --primary-darker: #2f3e58;
    --secondary: #609ba2;
    --secondary-light: #7bafb5;
    --secondary-dark: #529097;
    --secondary-darker: #38767d;
    --rounded-sm: 15px;
    background: var(--primary-light);
}

.nav-bar {
    min-height: 40px;
    background: var(--primary-darker);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5rem;
    font-size: large;
}

.nav-list {
    font-size: medium;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 1.5rem;
}



.link-primary {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    outline: none;
    border: solid;
    border-color: transparent;
    border-radius: var(--rounded-sm)
}

.link-primary:focus {
    border-color: var(--primary-light);
}

.link-primary:hover {
    border-color: var(--primary-light);
}

.link-primary:active {
    background: var(--primary);
}

.btn-secondary {
    text-decoration: none;
    padding: 0.5rem;
    color: var(--primary-light);
    outline: none;
    border: solid;
    border-color: transparent;
    border-radius: var(--rounded-sm);
    background-color: var(--secondary-darker);
}


.btn-secondary:focus {
    border-color: var(--primary-dark);
}

.btn-secondary:hover {
    border-color: var(--primary-darker);
}

.btn-secondary:active {
    background: var(--primary);
}



.btn-primary {
    text-decoration: none;
    padding: 0.5rem;
    color: white;
    outline: none;
    border: solid;
    border-color: transparent;
    border-radius: var(--rounded-sm);
    background-color: var(--primary);
    width: fit-content;
}


.btn-primary:focus {
    border-color: var(--primary-light);
}

.btn-primary:hover {
    border-color: var(--primary-light);
}

.btn-primary:active {
    background: var(--primary);
}

.header1 {
    font-size: xx-large;
    font-weight: bolder;
    padding: 1rem 0;
}

.header2 {
    font-size: x-large;
    font-weight: bolder;
    padding: 1rem 0;
}

.paragraph-xs {
    min-height: 80px;
}

.section-md,
section {
    padding: 25px 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 5rem;
}

.article-xs {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 2rem;
}

.article-xl {
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
}

.article-md,
article {
    display: flex;
    flex-direction: column;

}

.bg-primary {
    background: var(--primary);
    color: white;
}

.bg-primary-dark {
    background: var(--primary-dark);
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}